body{ 
font-family: "Poppins", 
sans-serif; 
margin: 40px; 
color: #222; 
}

h1,h2{ 
text-align:center; 
margin:5px 0; 
}

table{
width:100%; 
border-collapse: collapse; 
margin-top: 20px;
}

th, td{ 
padding: 8px 12px; 
border-bottom: 1px solid #ddd; 
text-align:center; 
}

th{ 
background:#f7f7f7; 
font-weight:600; 
}


.footer{ 
margin-top:10px; 
font-weight:bold; 
display:flex; 
justify-content:space-between; 
}


#logo{
    width: 100px;
    height: 80px;
}
